﻿@using RyanNickMasteryProject.Repositories
@model LmsUser

@{
    var listItems2 = new List<SelectListItem>
    {
        new SelectListItem {Text = "", Value = ""},
        new SelectListItem {Text = "K", Value = "1"},
        new SelectListItem {Text = "1st Grade", Value = "2"},
        new SelectListItem {Text = "2nd Grade", Value = "3"},
        new SelectListItem {Text = "3rd Grade", Value = "4"},
        new SelectListItem {Text = "4th Grade", Value = "5"},
        new SelectListItem {Text = "5th Grade", Value = "6"},
        new SelectListItem {Text = "6th Grade", Value = "7"},
        new SelectListItem {Text = "7th Grade", Value = "8"},
        new SelectListItem {Text = "8th Grade", Value = "9"},
        new SelectListItem {Text = "9th Grade", Value = "10"},
        new SelectListItem {Text = "10th Grade", Value = "11"},
        new SelectListItem {Text = "11th Grade", Value = "12"},
        new SelectListItem {Text = "12th Grade", Value = "13"}
    };
}
    @{
        ViewBag.Title = "UserDetails";
    }
    @using (Html.BeginForm("UserDetails", "Admin", new {Model.UserId}, FormMethod.Post))
    {
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <h2>User Details</h2>
            <div class="col-md-4" style="border: thin; border: solid">
                <div class="form-group" style="margin-top: 20px">
                    @Html.LabelFor(x => x.LastName)
                    @Html.TextBoxFor(x => x.LastName)
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(x => x.FirstName)
                    @Html.TextBoxFor(x => x.FirstName)
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(x => x.GradeLevel)
                    @Html.DropDownListFor(x=>x.GradeLevel, listItems2)
                </div>
                <br/>
                <div style="margin-bottom: 20px">
                    @foreach (var x in AdminRepo.GetAllIdentityUserRoles())
                    {
                        <div>
                            <input id="@x.Name" type="checkbox"/>
                            <label>@x.Name</label>
                        </div>
                    }
                </div>
                <div class="row" style="margin-bottom:20px">
                    @*@Html.ActionLink("Cancel", "AdminDashboard")*@
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    }
