﻿@model CarDealership.Models.Car

@{
    ViewBag.Title = "AddACar";
}

<h2>Add A Car</h2>

@using (Html.BeginForm("AddACar", "Car", FormMethod.Post))
{
    <div>
        <div class="form-group">
            <label>Title</label><br />
            @Html.TextBoxFor(m => m.Title)
        </div>
        <div class="form-group">
            <label>Year</label><br/>
            @Html.TextBoxFor(m => m.Year)
        </div>
        <div class="form-group">
            <label>Make</label><br/>
            @Html.TextBoxFor(m => m.Make)
        </div>
        <div class="form-group">
            <label>Model</label><br/>
            @Html.TextBoxFor(m => m.Model)
        </div>
        <div class="form-group">
            <label>URL link to image</label><br/>
            @Html.TextBoxFor(m => m.ImageUrl)
        </div>
        <div class="form-group">
            <label>Price</label>
            @Html.TextBoxFor(m => m.Price)
        </div>
        <div class="form-group">
            <label>Add a description</label>
            @Html.TextBoxFor(m => m.Description)
        </div>
        <div>
            <button>Submit</button>
        </div>
    </div>
}