﻿@model CarDealership.Models.Car

@{
    ViewBag.Title = "ConfirmRemove";
}

<h2>ConfirmRemove</h2>
<div>
    Are you sure you want to delete the listing for the @Model.Year @Model.Make @Model.Model?
</div>
<div>
    <a href="@Url.Action("RemoveCar", new {id = Model.Id})">Yes</a>
</div>
<div>
    @Html.ActionLink("No", "Index")
</div>

