﻿@model MyContacts.UI.Models.Contact

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


<div>
    <h1>Add Contact</h1>
    <h3>@Html.ActionLink("Back to List", "Index", "Home")</h3>

    @using (Html.BeginForm("AddContact", "Home", FormMethod.Post))
    {
        @Html.Partial("_Contact")
    }
</div>
