﻿@model MyContacts.UI.Models.Contact

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        <h1>Edit Contact</h1>
        <h3>@Html.ActionLink("Back to List", "Index", "Home")</h3>
        @using (Html.BeginForm("EditContact", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.ContactId)
            @Html.Partial("_Contact")
        }
    </div>
</body>
</html>
