﻿@model MyContacts.UI.Models.Contact

    <p>
        <label>Name</label>
        @Html.TextBoxFor(m => m.Name)
    </p>
    @*<p>
        <label>Phone</label>
        @Html.TextBoxFor(m => m.PhoneNumber)
    </p>*@
    <p>
        <label>Is a friend</label>
        @Html.CheckBoxFor(m => m.IsFriend)
    </p>
    <button>Save</button>  


