﻿
@{
    ViewBag.Title = "Abba";
}

<h2>Warmups!</h2>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(function () {
        var btn = document.getElementById("resultBtn");
        btn.onclick = function () {
            // they clicked the button
            var aTextBox = document.getElementById("aText");
            var a = aTextBox.value;

            var bTextBox = document.getElementById("bText");
            var b = bTextBox.value;
            //warmup logic here!
            function AreWeInTrouble(bool1, bool2) {
                if (bool1 === bool2) {
                    return true;
                }
                else
                {
                    return false;
                }
            }

            var resultText = AreWeInTrouble(a, b);

            //
            var resultDiv = document.getElementById("resultDiv");

            var textNode = document.createTextNode(resultText);
            resultDiv.appendChild(textNode);
        };
    });
</script>

<div>
    A Text: <input type="text" id="aText"/>
    <br />
    B Text: <input type="text" id="bText" />
</div>

<div>
    <button id="resultBtn">Click For Result</button>
</div>
<hr />
<div id="resultDiv">
    
</div>