﻿@using RyanNickMasteryProject.Models.CourseModels
@model RyanNickMasteryProject.Models.CourseModels.CourseRosterViewModel
@{
    ViewBag.Title = "CourseRoster";
}

<h2>@Model.CourseRosterData.Select(x=>x.CourseName).First() - Roster</h2>

<div>
    @Html.ActionLink("Information", "CourseInformation", new { courseId = Model.CourseRosterData.Select(x => x.CourseId).First() })
    |
    @Html.ActionLink("Roster", "CourseRoster", new { courseId = Model.CourseRosterData.Select(x=>x.CourseId).First() })
    |
    @Html.ActionLink("Gradebook", "CourseGradebook", new { courseId = Model.CourseRosterData.Select(x => x.CourseId).First() })
</div>

<div class="container" style="padding: 0">
    
    @Html.Partial("CourseRosterPartial")
    @Html.Partial("AddStudentPartial", new AddStudentSearchResult())
    
</div>