﻿@using System.Linq
@using System.Web.Mvc.Html
@using RyanNickMasteryProject.BizLogic
@using RyanNickMasteryProject.Repositories


<div>
    <h2>Teacher Dashboard</h2>
</div>


<div style="border: solid; padding: 10px; width: 50%">
           
    <table class="col-md-12" style="width: 85%">
        <tr style="margin: 50px">
            <td>
                <button type="button" class="btn btn-default btn-xs">Add Class</button>
            </td>
            <td align="right">Current(@TeacherOperations.GetTeacherDashboardInfo(2).CurrentCourses) - 
                Archived (@TeacherOperations.GetTeacherDashboardInfo(2).ArchivedCourses)</td>
        </tr>
        @foreach (var x in TeacherOperations.GetTeacherDashboardInfo(2).CourseList)
        {
            <tr style="border: solid; padding-bottom: 10px; padding-top: 10px">
                <td class="col-md-3">@Html.ActionLink(x.CourseName, "CourseInformation", "Teacher", new {courseId = x.CourseId}, null)</td>
                <td class="col-md-3" align="right">@x.NumOfStudentsInCourse Students</td>
            </tr>
        }
    </table>

</div>