﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <img src="C:\Users\CodeCamp\Desktop\Lectures\Labs\Web\TwitterBootstrap\1 - Layout\Assets\Picture.gif" />
        </div>
        <div class="col-md-3">
            <img src="C:\Users\CodeCamp\Desktop\Lectures\Labs\Web\TwitterBootstrap\1 - Layout\Assets\News.gif" />
        </div>

        <div class="col-md-3">
            <img src="C:\Users\CodeCamp\Desktop\Lectures\Labs\Web\TwitterBootstrap\1 - Layout\Assets\SmallPic.gif"/>
        </div>
        <div class="col-md-3">
            <img src="C:\Users\CodeCamp\Desktop\Lectures\Labs\Web\TwitterBootstrap\1 - Layout\Assets\SmallPic.gif" />
        </div>
        <div class="col-md-3">
            <img src="C:\Users\CodeCamp\Desktop\Lectures\Labs\Web\TwitterBootstrap\1 - Layout\Assets\SmallPic.gif" />
        </div>
    </div>
</div>